*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    width: 500px;
    height: 100%;
    border: 1px solid #000;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.inputBox{
    display: flex;
    /* justify-content: center; */
    /* align-items: end; */
}
.msgBoxRight{
    
    position: absolute; 
    right: 10px;
    bottom: 50px;
   
}
.msgBoxLeft{
    
    position: absolute; 
    left: 10px;
    bottom: 50px;
}
.msgContainer p{
    margin: 0.5rem 0;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0.2rem 0.7rem;
}